!!! 5
html
  head
    title Hashmap
  body
    .header
    .hashtags
    script(src='/components/jade/runtime.js')
    script(src='/components/jquery/jquery.js')
    script(src='/components/underscore/underscore.js')
    script(src='/components/backbone/backbone.js')
    script(src='/components/backbone.marionette/lib/backbone.marionette.js')
    script(src='/components/socket.io-client/dist/socket.io.js')
    script(src='/js/build/templates.js')
    script(src='/js/app.js')
