<!DOCTYPE html>
<html>
  <head>
    <title>Hashmap</title>
  </head>
  <body>
    <div class="header"></div>
    <div class="hashtags"></div>
    <script src="/components/jade/runtime.js"></script>
    <script src="/components/jquery/jquery.js"></script>
    <script src="/components/underscore/underscore.js"></script>
    <script src="/components/backbone/backbone.js"></script>
    <script src="/components/backbone.marionette/lib/backbone.marionette.js"></script>
    <script src="/components/socket.io-client/dist/socket.io.js"></script>
    <!-- build:js js/build/app.js -->
    <script src="../public/js/temp/templates.js"></script>
    <script src="../public/js/app.js"></script>
    <!-- endbuild -->
  </body>
</html>