!!! 5
html
  head
    title Hashmap
  body
    script(src='/components/jquery/jquery.js')
    script(src='/components/underscore/underscore.js')
    script(src='/components/backbone/backbone.js')
    script(src='/components/backbone.iobind/dist/backbone.iosync.js')
    script(src='/components/backbone.iobind/dist/backbone.iobind.js')
    script(src='/components/socket.io-client/dist/socket.io.js')
    script(src='/js/app.js')
