.nav-bar {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid darken($brand-color, 23%);
  @include box-shadow(0 0px 3px hsla(0, 0%, 0%, 0.5));
  @include background-image(linear-gradient(top, lighten($brand-color, 30%), darken($brand-color, 0%)));

  .title {
    font-family: "aw-conqueror-carved-one",sans-serif;
    float: left;
    margin-bottom: 0;
    line-height: 29px;
    font-size: 23px;
    letter-spacing: 1px;
    color: darken($brand-color, 50%);
    @include text-shadow(0 1px 0 white);

    span {
      @include opacity(0.4);
      margin-right: 2px;
      float: left;
    }
  }

  .map-controls {
    float: right;
  }

  @media (max-width: 450px) {
    .title {
      float: none;
      margin-bottom: $base-spacing-unit;
    }

    .map-controls {
      float: none;
    }
  }
}

.map {
  height: 300px;
  width: 100%;
}

.hashtag-form {
  display: inline-block;

  .text-input {
    width: 125px;
  }
}

.content {
  background-color: white;

  p:last-child {
    margin-bottom: 0;
  }
}

.header {
  margin-bottom: $base-spacing-unit;
}

.user__name {
  margin-bottom: 2px;
}

.user__screen-name {
  margin-bottom: 2px;
  font-size: 12px;
}

.meta {
  color: hsl(0, 0%, 60%);
}

.hashtags__list {
  margin-bottom: 0;

  & > li {
    margin-bottom: $base-spacing-unit;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.tweets {
  margin: 0 ($base-spacing-unit * -1);
  & > ul {
    margin-bottom: 0;
  }
}

.tweet {
  padding: 4px $base-spacing-unit;
  p {
    margin-bottom: 0;
  }
  &:hover {
    cursor: pointer;
    background: hsl(0, 0%, 90%);
  }
}