@import "compass";

$base-font-size: 14px;
$base-line-height: 1.285714286;
$base-spacing-unit: ($base-line-height * $base-font-size) / 2;
$half-spacing-unit: $base-spacing-unit / 2;

@import "shame";
@import "normalize";

body {
  font-size: $base-font-size;
  line-height: $base-line-height;
  max-width: 640px;
}

button {
  background: none;
  border: 0;
  text-align: left;
  padding: 0;
  font: inherit;
  line-height: 1;
  cursor: pointer;
}

h1, h2, h3,
h4, h5, h6,
p, pre, blockquote {
  margin-top: 0;
  margin-bottom: $base-spacing-unit;
}

h1 {
  font-size: 18px;
  font-weight: bold;
}

h2 {
  font-size: 16px;
  font-weight: bold;
}

h3 {
  font-size: 14px;
  line-height: 1.2;
  font-weight: bold;
}

h4, h5, h6 {
  font-size: 14px;
}

.h1 { @extend h1; }
.h2 { @extend h2; }
.h3 { @extend h3; }
.h4 { @extend h4; }
.h5 { @extend h5; }
.h6 { @extend h6; }

.header,
.hashtags {
  padding: $base-spacing-unit;
}

.map__controls {
  input {
    @include border-radius(0);
  }

  .text-input,
  .btn {
    border-top: 0;
  }

  .text-input {
    width: 242px;
    border-left: 0;
  }

  .btn {
    border-left: 0;
  }
}

.map__container {
  height: 300px;
  width: 100%;
}

@import "objects/btn";
@import "objects/text-input";