@import "compass";

@import "shame";
@import "normalize";

$base-font-size: 14px;
$base-line-height: 1.285714286;
$base-spacing-unit: $base-line-height * $base-font-size;

body {
  font-size: $base-font-size;
  line-height: $base-line-height;
}

button {
  background: none;
  border: 0;
  text-align: left;
  padding: 0;
  font: inherit;
  line-height: 1;
  cursor: pointer;
}

h1, h2, h3,
h4, h5, h6,
p, pre, blockquote {
  margin-top: 0;
  margin-bottom: $base-spacing-unit;
}

h1 {
  font-size: 18px;
  font-weight: bold;
}

h2 {
  font-size: 16px;
  font-weight: bold;
}

h3 {
  font-size: 14px;
  line-height: 1.2;
  font-weight: bold;
}

h4, h5, h6 {
  font-size: 14px;
}

.h1 { @extend h1; }
.h2 { @extend h2; }
.h3 { @extend h3; }
.h4 { @extend h4; }
.h5 { @extend h5; }
.h6 { @extend h6; }

.container {
  margin: auto;
  padding: $base-spacing-unit;
  max-width: 700px;
}

html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
.map { height: 400px; width: 100%; }

@import "objects/btn";
@import "objects/text-input";